<h3> Events </h3>

<% @contact.events.each do |event| %>

<p>
    <strong>Type of Event</strong>
    <%= event.name %>
</p>

<p>
    <strong>Location</strong>
    <%= event.location %>
</p>


<p>
    <strong>Date</strong>
    <%= event.date %>
</p>

<p>
    <strong>Time</strong>
    <%= event.time %>
</p>
<% end%>

<h3>Add an Event</h3>

<%= form_for([@contact, @contact.events.build]) do |f| %>

<p>
    <% f.label :name %> Type of Event <br>
    <%= f.text_field :name %>
    
</p>


<p>
    <% f.label :location %> Location <br>
    <%= f.text_field :location %>
    
</p>
<p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
</p>
<p>
    <%= f.label :time %><br>
    <%= f.text_field:time %>
</p>
<p>
    <%= f.submit %>
</p>
