
<h2>Events</h2>

<table>
   
    
    <tr>
        <th>Contact Name</th>
        <th> Name of Event</th>
        <th> Date</th>
    </tr>

<% @events.each do |event| %>




    
     <tr>
         
        <td><%= event.contact.first%>  <%= event.contact.last%></td>
        <td><%= event.name%></td>
         <td><%= event.date %></td>
         <td><button type = "button" id="button1"><%= link_to 'View', contact_path(event) %></button>
    </td>
     </tr>
     <%end%>
     
  </table>





<p>
<button type="button" id="show"><%= link_to 'Back', contacts_path %> </button>
</p>