
<h2>Events</h2>

<table>
   
    
    <tr>
        <th>Contact Name</th>
        <th> Name of Event</th>
        <th> Date</th>
    </tr>

<% @events.each do |event| %>




    
     <tr>
         
        <td><%= event.contact.first%>  <%= event.contact.last%></td>
        <td><%= event.name%></td>
         <td><%= event.date %></td>
          <td><%= link_to 'Show', contact_path(event) %></td>
    
     </tr>
     <%end%>
    
  </table>

   <%= link_to 'Back', contacts_path %> 