<h2>Address Book Contacts</h2>
<%= link_to 'New Contact', new_contact_path %><br><br>


<strong text-align: "center">Search Bar: </strong>
<input text-align: "center" type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for Contact by Name">
<table id = "contactTable">
    
    
    </tr>
    <tr>
     <th>Last</th>
     <th>First</th>
     <th>Actions</th>
    </tr>
    
    
    
    
    <% @contacts.each do |contact| %>
    
        <tr>
            <td><%=contact.last %></td>
            <td><%=contact.first%></td>
            <td><button type = "button"><%= link_to 'Contact Info', contact_path(contact) %></button></td>
            <td><button type = "button"><%= link_to 'Edit', edit_contact_path(contact) %></button></td>
           
    </tr>
  <% end %>
  
 
                
        
</table>

<h3 id = "event">Events</h3>
<a href = contacts/:contact_id/events>
<img src="/assets/calender.png" alt="Events" height = "15%" width = "15%" align = "right" id = "calender">

</a>


