<h2>Address Book Contacts</h2>
<%= link_to 'New Contact', new_contact_path %>


<table>
    <tr><th>CONTACTS</th></tr>
    <tr>
        <th>Last</th>
        <th>First</th>
        <th>Actions</th>
    </tr>
    
    
    
    
    <% @contacts.each do |contact| %>
    
        <tr>
            <td><%= contact.last %></td>
            <td><%=contact.first%></td>
            <td><%= link_to 'Show', contact_path(contact) %></td>
            <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
            <td><%= link_to 'Destroy',
                                contact_path(contact),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
        
</table>


<a href = contacts/:contact_id/events>
<img src="/assets/calender.png" alt="Events" height = "5%" width = "5%" align = "right">

</a>


