<p>
    <strong>First Name: </strong>
    <%= @contact.first %>
    
    <strong>Last Name: </strong>
    <%= @contact.last %>
    
</p>

<p>
    
    <strong>Company: </strong>
    <%= @contact.company %>
    
    
</p>

<p>
    <strong>Address: </strong>
    <%= @contact.address %>
    
</p>

<p>
    <strong>Email: </strong>
    <%= @contact.email %>
</p>

<p>
    <strong>Home Phone: </strong>
    <%= @contact.home %>
    
    <strong>Cell Phone: </strong>
    <%= @contact.cell %>
    
    <strong>Work Phone: </strong>
    <%= @contact.work %>
    
    
</p>

<%= link_to 'Back', contacts_path %> 