
<h2>Contact Info</h2>



<div id ="eventform">
<h3> Events </h3>

<% @contact.events.each do |event| %>

<p>
    <strong>Type of Event</strong>
    <%= event.name %>
</p>

<p>
    <strong>Location</strong>
    <%= event.location %>
</p>


<p>
    <strong>Date</strong>
    <%= event.date %>
</p>

<p>
    <strong>Time</strong>
    <%= event.time %>
</p>

<p>
<button type = "button" id ="delete"> <%= link_to 'Destory Event', [event.contact,event],
                method: :delete,
                data: {confirm:'Are you sure?'} %></button>
                
 
</p>
<% end%>
<button type="button" id="back"><%= link_to 'Create New Event', new_contact_event_path(@contact) %></button>
</div>
<div id="contactform">
    <h3>Contact</h3>


    
    
<p>
    <strong>First Name: </strong>
    <%= @contact.first %>
    
    <strong>Last Name: </strong>
    <%= @contact.last %>
    
</p>

<p>
    
    <strong>Company: </strong>
    <%= @contact.company %>
    
    
</p>

<p>
    <strong>Address: </strong>
    <%= @contact.address %>
    
</p>

<p>
    <strong>Email: </strong>
    <%= @contact.email %>
</p>

<p>
    <strong>Home Phone: </strong>
    <%= @contact.home %>
    
    <strong>Cell Phone: </strong>
    <%= @contact.cell %>
    
    <strong>Work Phone: </strong>
    <%= @contact.work %>
   
    
</p>
<p>
    
<button type="button" id="back"><%= link_to 'Back', contacts_path %></button>
 <button type = "button" id ="delete"><%= link_to 'Delete Contact',
                                contact_path(@contact),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></button>

 
 </p>
 
 
<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>